/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    background-color: #333;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* 섹션 스타일 */
.section {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

/* 애니메이션 */
.fade-in-image {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in-image.visible {
    opacity: 1;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
